
<div class="top-bar">
  <h1>
  {{game}} </h1>
</div>
<br>
<div>


</div>







<div id="mydata">
  <h2>People looking for gamers playing this game:</h2>
<table id="myTableData"  border="1" cellpadding="2">
    <tr>
        
        <td><b>Gamertag</b></td>
        <td><b>System</b></td>
    </tr>
</table>
</div>

