  {{!-- <div class="flex-column justify-space-around">
    <main class="container container-fluid mt-5"> --}}
      <div class="greeting">
        <p class="greeting-message">Here you can meet and group with people to play your favorite competitive games. <br>
        Click on a game below to get started!</p>
      </div>

      <div class="main-games">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/images/rs6Seige.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
              <h1>Whats the Matter?</h1>
              <p>Cant Win by yourself?</p>
              <a href="/api/posts/" class="waves-effect waves-light btn">Find Others and GG</a>
            </div>
          </div>
        </div>

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/images/codWarzone.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
              <h1>What are you doing here?</h1>
              <p>This was part of our MVP, there are better ways to find people to play this game</p>
              <p>But if you insist...</p>
              <a href="#" class="waves-effect waves-light btn">Search by yourself and GG</a>
            </div>
          </div>
        </div>

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/images/fortnite.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
              <h1>Are you embarrassed</h1>
              <p>because your IRL friends say you're to old for this game?</p>
              <a href="#" class="waves-effect waves-light btn">Find other boomers and GG</a>
            </div>
          </div>
        </div>

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="/images/apexLegends.jpg" alt="Avatar" style="width:100%;height:100%;">
            </div>
            <div class="flip-card-back">
              <h1>Call yourself the apex gamer?</h1>
              <p>But know that if you had a competent squad you'd be exposed? </p>
              <a class="waves-effect waves-light btn" href="#">Protect that fragile ego and GG</a>
            </div>
          </div>
        </div>
        
      </div>
    {{!-- </main>
  </div> --}}