    
    <link rel="stylesheet" href="/css/jass.css">
  
    <h2>Login to find other gamers!</h2><br>    
    <div class="login-form">    
    <form id="login" method="get" action="login.php">    
        <label><b> E-mail address:               
        </b>    
        </label>    
        <input type="text" class='email' name="Uname" id="Uname" placeholder="Enter your E-mail ">    
        <br><br>    
        <label><b>Password:    
        </b>    
        </label>    
        <input type="Password" class='password' name="Pass" id="Pass" placeholder="Enter your password">    
        <br><br>    
         <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-info btn-block">
                </div> 
        <br><br>    
        <span>Remember me</span>    
        <br><br>    
    </form>     
</div>    
</body>    
</html>     

            </body>
<script src='js/login.js'></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    setTimeout(() => {
        $('.alert').remove();
    }, 3000)
</script>
</html>