
<div class="greeting">
  <h1 class="greeting-message">Rainbow Six Seige</h1>
</div>



<div id="left-nav">
<a class="waves-effect waves-light btn right">Find Others and GG</a>

  <h3>People looking for gamers playing this game:<br>

  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>PlayStation 5</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Player 1</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 2</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 3</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 4</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 5</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 6</a></li>
    <li class="divider" tabindex="-1"></li>
  </ul>
  

  <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>Xbox</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown2' class='dropdown-content'>
    <li><a href="#!">Player 1</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 2</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 3</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 4</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 5</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 6</a></li>
    <li class="divider" tabindex="-1"></li>
  </ul>

    <a class='dropdown-trigger btn' href='#' data-target='dropdown3'>Steam</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown3' class='dropdown-content'>
    <li><a href="#!">Player 1</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 2</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 3</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 4</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 5</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Player 6</a></li>
    <li class="divider" tabindex="-1"></li>
  </ul>
</h3>
</div>

<section class="flex-parent">

<div class="posts-section">
    {{#each posts}}
      <div class="posts post-1">
        <h4>{{author}}</h4>
          <p>{{body}}</p>
  </div>
    {{else}}
    <p>no posts available</p>
    {{/each}}

</div>


<ul id="slide-out" class="sidenav">

<div class="post">
  <form class="post">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Input here" id="author" type="text">
          <label for="author">Gamertag</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="game" type="text" placeholder="Game Name">
          <label for="game">Enter the name of the game</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="body" type="text" placeholder="Playstyle preferences">
          <label for="body">Who are you looking to group with?</label>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Post" class="btn btn-info btn-block">
      </div>
    </form>
  </form>
</div>
</ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect waves-light btn">Create Post!</a>
</section>
